:root{
    --primary-color: hsl(243, 93%, 17%);
    --primary-color-dark: #f5a623;
    --secondary-color: #f5a623;
    --text-dark: #333;
    --text-light: #fff;
    --extra-light:#b8edf7;
    --max-width: 1200px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--extra-light);
}

a{
    text-decoration: none;
}

nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: var(--primary-color);
}

.nav_content{
    max-width:var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-light);
    transition: .3s;
}

nav .logo a:hover{
    color: var(--primary-color-dark);
}

nav .checkbox{
    display: none;
}

nav input{
    display: none;
}

nav.checkbox i{
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}

ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}

ul li a{
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-light);
    transition: 0.3s;
}

ul li a:hover{
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);
}

.section{
    background-color: var(--extra-light);
}

.section_container{
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.content{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle{
    letter-spacing: 2px;
    color: var(--primary-color);
    font-weight: 600;
    margin-bottom: 2rem;
}

.title{
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
 }

 .title span{
     font-weight: 600;
     font-size: 3rem;
 }

 .description{
    line-height: 1.5rem;
    color: var(--text-dark);
    margin-bottom: 2rem;
    font-size: 1rem;
 }

 .action_btns{
        display: flex;
        gap: 1rem;
 }

 .action_btns button{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
 }

 .hire_me{
    background-color: var(--primary-color);
    color: #fff;
 }

 .hire_me:hover{
    background-color: var(--primary-color-dark);
 }

 .get_resume{
    color: var(--primary-color);
 }

 .get_resume:hover{
    border-color: var(--primary-color-dark);
    color: var(--text-dark);
 }

.image{
    display:grid;
    place-items: center;
}

.image img{
    width: min(28rem, 90%);
    border-radius: 60%;
    height: 30rem;
    border: 1px solid var(--primary-color);
}

.infor{
    margin-left: 20%;
    margin-right: 20%;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 0 10px  var(--primary-color);
    margin-bottom: 4rem;
}

.infortitle{
    text-align: center;
    font-size: 1.5rem;
    color: var(--text-light);
    margin-bottom: 1rem;
    background-color: var(--primary-color);
    border-radius: 7px;
    border-bottom: 5px solid var(--text-light);
}

.infor_container p{
    font-size: 1.2rem;
    text-align: center;
    padding: 15px 15px 15px 15px;
    margin-bottom: 0;
}

.infor_container h3{
    margin-top: 0;
    text-align: center;
}

.timeline{
    display: flex;
}

.timeline_item{
    flex: 1;
    display: flex;
}

.timeline_item_content{
    padding: 0.8rem;
    margin-bottom: 0.9rem;
    margin-left: 1rem;
}

.timeline_item_content h4{
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 0.2rem;
}

.ri-graduation-cap-fill{
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-left: 5%;
    margin-top: 1.1rem;
}

.image1{
    display:flex;
    margin-bottom: 1rem;
}

.image1 img{
    width: min(10rem, 90%);
    border-radius: 60%;
    height: 10rem;
    border: 1px solid var(--primary-color);
    margin-left: 5.5%;
}

#item{
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-left: 5%;
    margin-top: 0.8rem;
}

.box2{
    display: flex;
    
}

.footer{
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 1rem;
    text-align: center;
}

@media screen and (max-width: 750px){
    nav .checkbox{
        display: block;
    }

    ul{
        position:absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: var(--primary-color);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    nav #check:checked ~ ul{
        left: 0;
    }

    ul li a{
        font-size: 1.25rem;
    }

    .section_container{
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .image{
        grid-area: 1/1/2/2;
    }

    .action_btns{
        margin: auto;
    }
}